#clock {
  width: 400px;
  height: 400px;

  border-radius: 50%;
  border: 2px solid black;

  background-color: #ddd;

  position: relative;
}

.hand {
  position: absolute;
  left: 50%;
  bottom: 50%;

  transform-origin: bottom;
  background-color: black;

  border-radius: 5px;
}

.hour {
  width: 6px;
  height: calc(200px * 0.5);
}

.minute {
  width: 5px;
  height: calc(200px * 0.6);
}

.second {
  width: 3px;
  height: calc(0.8 * 200px);
  background-color: red;
}

.number {
  width: 30px;
  height: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(var(--rotate))
    translate(0, calc(-200px + 15px));

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}
